node_modules
build/
.coverage
.github
.kokoro
**/*.log
**/node_modules
.nyc_output
docs/
out/
*.lock
.DS_Store
google-cloud-logging-winston-*.tgz
google-cloud-logging-bunyan-*.tgz
__pycache__
package-lock.json
